@use "styles" as *;

header {
  width: 100%;@include auto-margin();
  img {
    height: 36px;
  }
}

section {
  @include dflex($jc: flex-start);
  padding: 8px 14px;
}

nav {
  ul {
    display: flex;
    gap: 1rem;
    position: relative;
    li {
      list-style: none;
      a {
        text-decoration: none;
        @include dflex();
        color: #7f8fa4;
        font-size: 16px;
        cursor: pointer;
        width: 5.9rem;
        transition: color 0.3s ease;
        &:focus,
        &:visited {
          color: #7f8fa4;
        }
        &.active,
        &:hover {
          color: #354052 !important;
          font-weight: 500;
        }
      }
    }
  }
}

