<header>
    <section>
        <a href="/" aria-label="Startseite">
            <img src="img/rw-logo-grey.jpg" alt="Website-Logo">
        </a>
        <nav>
            <ul>
                <li><a routerLink="/summary" routerLinkActive="active">Übersicht</a></li>
                <li><a routerLink="/accounts" routerLinkActive="active">Konto</a></li>
                <li><a routerLink="/entries" routerLinkActive="active">Einträge</a></li>
                <li><a routerLink="/statistics" routerLinkActive="active">Statistik</a></li>
            </ul>
        </nav>
    </section>
</header>