@use "styles" as *;

header {
  border-bottom: 1px solid #e5e9ed;
  width: 100%;
  img {
    height: 36px;
  }
}

section {
  @include dflex($jc: flex-start);
  @include auto-margin();
  padding: 8px 16px;
}

nav {
  display: flex;
  position: relative;

  &:hover {
    .slider {
      opacity: 1;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
    position: relative;
    li {
      list-style: none;
      a {
        text-decoration: none;
        @include dflex();
        color: #7f8fa4;
        font-size: 16px;
        cursor: pointer;
        width: 5.9rem;
        transition: color 0.3s ease;
        &:focus,
        &:visited {
          color: #7f8fa4;
        }
        &.active,
        &:hover {
          color: #354052 !important;
          font-weight: 500;
        }
      }
    }
  }
}

