@use "styles" as *;

.dashboard-card {
  @include dflex();
  background-color: #fff;
  border-radius: 10px;
  width: 436px;
  flex-direction: column;
  padding: 0px 14px 14px 14px;
}

.dashboard-card-header {
  width: 100%;
  border-bottom: 1px solid #eff0f2;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
}
