<div class="dashboard-card">
    <div class="drag-handler">
        <mat-icon>drag_handle</mat-icon>
    </div>
    <div class="card-menu-icon" style="top: 10px; right: 6px; position: absolute; cursor: pointer;
    z-index: 5;">
        <mat-icon>more_vert</mat-icon>
    </div>
    <div class="dashboard-card-header">
        <span>Konten</span>
        <div class="mini-button" style="margin-right: 4px;">Konten</div>
    </div>
    
    <div class="dashboard-card-main">
        <section>
            <div class="left">
                <mat-icon style="color: white; font-size: 24px;" aria-hidden="hidden" aria-label="Example wallet icon"
                    fontIcon="account_balance_wallet">
                </mat-icon>
                <div class="account-name">
                    <span>{{accountName}}</span>
                    <span style="color: #7f8fa4">{{accountType}}</span>
                </div>
            </div>
            <div class="right">
                <span>{{balance}}  €</span>
                <div class="mini-button"><mat-icon>chevron_right</mat-icon></div>
            </div>
        </section>
    </div>
</div>