<header>
    <section class="btn-section">
        <div class="btn-container">
            <div class="account-btn">
                <div class="left-container"><mat-icon style="color: white; font-size: 26px;" aria-hidden="hidden"
                        aria-label="Example wallet icon" fontIcon="account_balance_wallet"></mat-icon>
                </div>
                <div class="right-container">
                    <span class="account-name">Girokonto</span>
                    <span class="money">1.500,00 €</span>
                </div>
            </div>
            <button class="add-account-btn">
                <span>+ Konto hinzufügen</span>
            </button>
        </div>
    </section>
</header>

<main>
    <app-datepicker></app-datepicker>
    <section class="dashboard-content">
        <app-account-card></app-account-card>
        <app-account-card></app-account-card>
        <app-account-card></app-account-card>
        <app-account-card></app-account-card>
        <app-account-card></app-account-card>
    </section>
</main>