@use "styles" as *;

header {
  @include dflex();
  padding: 1.1rem 2rem;
  width: 100%;
}

.date-range-picker {
  @include dflex($g:10px);
  mat-icon{
    color: #354052;
    opacity: 0.8;
    cursor: pointer;
  }
}

.date-dropdown {
  @include dflex($jc: space-between);
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccd2db;
  border-radius: 4px;
  padding: 6px 6px 6px 14px;
  width: 210px;
  &:hover {
    svg {
      opacity: 1.1;
    }
    border-color: #007aff;
  }
  span {
    display: inline-block;
    color: #354052;
  }
}

